.DS_Store
app/logger
app/.DS_Store
app/.gitignore
node_modules/
app/vaccine8_linux.elf
app/vaccine8_mac.app
app/vaccine8_win.exe

newsletter/
campaign/
logger/
images/
files/
memo/
blog/
task/
bolt.db
campaigns/
vaccine8.aar
vaccine8-sources.jar
appvaccine8_mac.app
assets/bin/web.min.js
app/ui/assets/bin/service-worker.js
tasks/
vaccine8

assets/bin/app.min.js
assets/bin/service-worker.js
vaccine8_mac.app
VACCINE-sources.jar
VACCINE.aar
